<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-v4.6.0.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
  <div class="login-box">
    <div class="image-container">
       <img src="./static/asset/UWA2.png" alt="your-image-description">
    </div>
    
    <div class="form-group">
      <label for="username">Username/Email</label>
      <input type="text" class="form-control" id="username" autocomplete="off">
    </div>
    <!-- <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" autocomplete="off">
    </div>-->

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm-password">
    </div>
    <button type="submit" class="btn btn-primary" id="btnRegister">Register</button>
  </div>

  <script src="./project 3403/lib/axios.js"></script>

  <script>
    document.querySelector('#btnRegister').addEventListener('click', function () {
      let username = document.querySelector('#username').value
     // let email = document.querySelector('#email').value
      let password = document.querySelector('#password').value
      let confirmPassword = document.querySelector('#confirm-password').value

      // Check if passwords match
      if (password !== confirmPassword) {
        alert('Passwords do not match. Please try again.')
        return
      }

      axios({
        method: 'post',
        url: 'http://www.liulongbin.top:3009/api/login',
        data: {
          username,
         // email,
          password
        }
      }).then(({ data: res }) => {
        if (res.code === 200) {
          alert('Congratulations, you have successfully registered!')
          // Redirect to login page
          location.href = 'login.html'
        } else {
          alert(res.msg)
        }
      })
    })
  </script>
</body>

</html>